In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

# Import API key
#from api_keys import api_key

# Import 2017 and 2009 dataframes
raw_2017 = pd.DataFrame(pd.read_csv("Cleaned_2017_data.csv"))
raw_2009 = pd.DataFrame(pd.read_csv("Cleaned_2009_data.csv"))
merged_df = raw_2017.merge(raw_2009[["UNITID", "GRAD_DEBT_MDN", "MD_EARN_WNE_P10"]], how="left", on = "UNITID")

In [12]:
merged_df.dropna()

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, MAIN, PREDDEG, HIGHDEG, CONTROL, REGION, LOCALE, LOCALE2, LATITUDE, LONGITUDE, CCUGPROF, ADM_RATE, NPT4_PUB, NPT4_PRIV, COSTT4_A, COSTT4_P, RET_FT4, COMPL_RPY_1YR_RT, COMPL_RPY_3YR_RT, COMPL_RPY_5YR_RT, COMPL_RPY_7YR_RT, GRAD_DEBT_MDN_x, GRAD_DEBT_MDN_y, MD_EARN_WNE_P10]
Index: []

[0 rows x 28 columns]